<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
<!--Redundant         
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
/Redundant-->
          </li>
            {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>        {%- include social.html -%}</li>
            {%- endif -%}
</ul>

<form action="https://lists.colorado.edu/sympa" method="post">
        <fieldset style="border:0; padding:0;>
          <label for="email"></label>
          <input type="text" name="email" size="15" value="Enter e-mail" />
          <input type="hidden" name="list" value="medlab-announce" />
          <input type="hidden" name="action" value="subrequest" />
  	  <input type="hidden" name="via_subrequest" value="1" />
        <input type="submit" name="action_subrequest" value="Get MEDLab news" />
        </fieldset>
</form>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

<script type="text/javascript" src="//cuboulder.github.io/brand-assets/js/footer.js" id="ucb-footer-embed" data-color="black"></script>

    
  </div>

</footer>

