---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p><strong>{{ page.event-date }}</strong><br />
      {{ page.event-time }}<br />
      {{ page.event-location }}</p>
    <p><em>{{ page.summary }}</em></p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
