---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

{% if site.tags contains page.slug %}
  <h2>Posts</h2>
  <ul>
    {% for post in site.tags[page.slug] %}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
     <li>
       <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> / <span class="post-meta">{{ post.date | date: date_format }}</span> - {{ post.summary }}
     </li>
    {% endfor %}
  </ul>
{% endif %}

    
  </div>

  
  
</article>
